@font-face {
font-family: 'PT Sans';
font-weight: 400;
src: url('../fonts/ptsans.woff2') format('woff2'),
url('../fonts/ptsans.woff.woff') format('woff');
}

@font-face {
font-family: 'MyWebFont';
font-weight: 700;
src: url('../fonts/ptsansbold.woff2') format('woff2'),
url('../fonts/ptsansbold.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
}

.button-transparent {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.button-transparent:hover,
.button-transparent:focus,
.button-transparent:active {
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  color: #766357;
}

.welcome {
  text-align: center;

  background-color: grey;
  background-image: url("../img/background-photo.jpg");
  background-position: center -83px;
  background-repeat: no-repeat;
}

.welcome-image {
  padding-top: 76px;
  padding-bottom: 79px;
}

.intro {
  text-align: center;
}

.intro h1 {
  width: 440px;
  margin: 0 auto;
  margin-top: 58px;
  margin-bottom: 32px;

  font-size: 21px;
  line-height: 26px;
}

.intro p {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;

  line-height: 26px;
}

.reason {
  display: flex;
}

.reason-content {
  width: 400px;
  min-height: 256px;

  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.reason-content h2 {
  width: 157px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 28px;

  font-size: 21px;
}

.reason-content p {
  width: 305px;
  margin: 0 auto;
  margin-top: 25px;
}

.reason-image {
  width: 800px;
  height: 256px;
}

.features-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list li {
  width: 290px;

  text-align: center;
}

.features-list h2 {
  margin-top: 165px;
  margin-bottom: 30px;

  font-size: 21px;
}

.features-list p {
  margin-bottom: 86px;

  color: #333333;
}

.reasons {
  background-color: #eeeeee;
}

.reasons-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.reasons-list li {
  width: 270px;

  text-align: center;
}

.reason-fix {
  width: 255px;
  margin: 0 auto;
}

.reasons-list h2 {
  margin-top: 51px;
  margin-bottom: 31px;

  font-size: 21px;
}

.reasons-list span,
.reasons-list p {
  color: #333333;
}

.reasons-list p {
  margin-top: 25px;
  margin-bottom: 63px;
}

.offer {
  text-align: center;
}

.offer h3 {
  margin-top: 55px;
  margin-bottom: 29px;

  font-size: 30px;
  line-height: 36px;
}

.offer p {
  width: 440px;
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 48px;

  line-height: 24px;
  color: #333333;
}

.fast-hotel-button {
  display: block;
  width: 558px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 10px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.fast-hotel-list {
  width: 568px;
  margin: 0 auto;
  margin-top: 96px;
  padding: 0;

  text-align: center;

  list-style: none;
}

.fast-hotel-list label {
  line-height: 26px;
  font-weight: bold;
}

.fast-hotel-list input {
  font: inherit;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: solid 2px #f2f2f2;
}

.fast-hotel-list input::placeholder {
  color: #000000;
}

.fast-hotel-list input:hover {
  background-color: #ebebeb;
  border: solid 2px #ebebeb;
}

.fast-hotel-list input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  outline: none;
}

.fast-hotel-submit {
  width: 458px;
  margin-top: 40px;
  padding: 19px 10px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotel-search-form {
  min-height: 219px;

  color: #ffffff;

  background-color: grey;
  background-image: url(../img/background-blurred.jpg);
  background-position: center -294px;
  background-repeat: no-repeat;
}

.hotel-search-form form {
  display: flex;
}

.hotel-search-form fieldset {
  border: none;
}

.form-infrastructure {
  min-width: 255px;
  margin-left: 70px;
}

.hotel-search-form h2 {
  margin-top: 20px;

  font-size: 16px;
}

.form-infrastructure-list,
.form-type-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.form-type {
  min-width: 255px;
}

.price-and-submit {
  margin-right: 72px;
  margin-left: auto;
}

.sorting {
  display: flex;
  align-items: baseline;
}

.sorting h2 {
  width: 164px;
  margin-left: 74px;

  font-size: 21px;
  line-height: 26px;
}

.sorting-list,
.sorting-direction {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-direction {
  margin-right: 74px;
  margin-left: auto;
}

.sorting p {
  width: 117px;

  font-size: 12px;
  line-height: 18px;
}

.sorting-list li,
.sorting-direction li {
  font-size: 12px;
  line-height: 18px;
}

.sorting-type-current {
  color: #81b3d2;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;

  border: none;
}

.hotels-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-item-article {
  display: flex;
  align-items: center;
  min-height: 151px;

  border-top: 1px solid #e5e5e5;
}

.hotels-item-article:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-item-image {
  margin-left: 72px;
  margin-right: 32px;
}

.hotels-description h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

a.hotels-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

a.hotels-title:hover,
a.hotels-title:focus {
  color: #81b3d2;
}

a.hotels-title:active {
  color: rgba(0, 0, 0, 0.3)
}

.type a,
.price a {
  color: #333333;
}

.rating {
  margin-top: 94px;
  margin-right: 73px;
  margin-left: auto;

  color: #666666;

  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  align-items: center;
  min-height: 120px;
}

.hashtag {
  margin-left: 132px;
  margin-right: 256px;

  text-align: center;
}

.hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.social {
  text-align: center;
}

.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-copyright {
  margin-right: 101px;
  margin-left: auto;

  line-height: 26px;
  text-align: center;
}
